.fixed-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px; 
  height: 100vh; 
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  overflow: hidden; 
}

.fixed-frame > main {
  flex: 1; 
  overflow-y: auto; 
  padding-bottom: 60px; 
}