/* src/components/Layout/FixedFrame.css */
.fixed-frame {
  width: 700px;
  height: 840px;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  background-color: white;
}
